.sidebar-card-image {
  padding-left: 18px;
  background-image: linear-gradient(
    45deg,
    #165588 0%,
    #ed1e2b 51%,
    #165588 100%
  );
}
.title-cards {
  height: 85px !important;
}
.side-bar-cards {
  height: 290px !important;
  max-height: 100%;
}
.side-bar-cards img {
  border-radius: 5px;
  height: 170px !important;
  max-height: 100%;
}
.news-short-brief-newwork{
  height: 275px !important;
  max-height: 100%;
}
.kheladhula{
  height: 225px;
  max-height: 100%;
}
.news-short-brief-newwork img{
  width: 100%;
  height: 170px !important; 
  object-fit: cover;
  max-height: 100%;
}
.feature-khela {
  height: 495px !important;
  max-height: 100%;
  object-fit: cover;
}
.news-sidebar-card {
  height: 360px !important;
  max-height: 100%;
}
.news-sidebar-card img{
  height: 160px ;
}
.sakkhatkar-card {
  height: 250px !important;
  max-height: 100%;
}
.sakkhatkar-card img {
  width: 1920px !important;
  object-fit: contain;
  height: 260px;
  max-height: 100%;
}
.sakkhatkar-card-feature img{
  width: 100% !important;
  height: 430px;
  max-height: 100%;
}
.sakkatkar-non-feature{
  height: 240px;
  max-height: 100%;
}
.sakkatkar-non-feature img{
  height: 145px;
  max-height: 100%;
}
.title-card-hover {
  position: relative;
  overflow: visible; /* Allow the image to overflow */
}

.hover-image {
  display: none; /* Hide the image by default */
  position: absolute; /* Position it absolutely within the card */
  top: -50px; /* Adjust this value to position the image outside the box */
  left: -50px;
  width: 300px !important;
  height: 150px;
  object-fit: cover; /* Ensure the image covers the area */
  z-index: 10; /* Ensure it overlays other content */
}
.card-list-items {
  height: 50px;
}
.title-card-hover:hover .hover-image {
  display: block; /* Show the image when hovering over the card */
}
.khela-img{
  height: 148px;
  max-height: 100%;
}
@media screen and (max-width: 1444px) {
  .side-bar-cards {
    height: 290px !important;
    max-height: 100%;
  }
}
