/* Add this CSS to style the autoplay progress bar */
.swiper-progress {
  position: relative;
  width: 100%;
  /* margin-top: -18px; */
  height: 4px;
  background-color: var(--main);
}

.swiper-progress-bar {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--secondary); /* Color of the progress bar */
  animation: progress 3s linear infinite; /* Match the autoplay delay */
}

.banner-slide img {
  object-fit: cover;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.banner-container {
  position: relative;
}

.banner-slide {
  position: relative;
  overflow: hidden;
}

.banner-overlay img {
  width: 100%;
  height: 600px;
}

.banner-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--main), rgba(255, 255, 255, 0.144));
  z-index: 1;
}

.banner-content {
  max-width: 1100px;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: start;
  padding: 20px;
  width: 100%;
}

.banner-content h1 {
  font-size: 50px;
  width: 70%;
  max-width: 100%;
  font-weight: bold;
}

.banner-content p {
  width: 70%;
  max-width: 100%;
  font-size: 18px;
}
/* Style for the swiper navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  color: var(--secondary, var(--secondary)) !important;
  background-color: #16558830; /* Default background color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the navigation buttons */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--main); /* Background color on hover */
}

/* Optional: Ensure the pseudo-element has proper styling if needed */
.swiper-button-prev:after,
.swiper-button-next:after {
  padding: 35px;
  width: unset;
  color: #eee;
  font-size: 20px !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0 !important;
  right: 0;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 0;
  right: 0 !important;
}
@media (max-width: 576px) {
  .banner-content {
    max-width: 540px;
  }
}
