.binodon-cards {
  height: 600px !important;
  max-height: 100%;
}
.binodon-cards img {
  border-radius: 5px;
  width: 100% !important;
  height: 400px;
  max-height: 100%;
}
.binodon-cards-img{
  height: 288px !important;
}